<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ExampleApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.app</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts to let you select and share with people you know.</string>
</dict>
</plist>
