<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>SecureNodeKit.SecureNode.CallDirectory</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleExecutable</key>
	<string>SecureNodeCallDirectoryExtension</string>
	<key>CFBundleName</key>
	<string>SecureNode Call Directory</string>
	<key>CFBundleDisplayName</key>
	<string>SecureNode Call Directory</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.callkit.call-directory</string>
		<key>NSExtensionPrincipalClass</key>
		<string>SecureNodeCallDirectoryExtension.CallDirectoryHandler</string>
	</dict>
</dict>
</plist>
